

img{
    float: left;
    width: 70px;
    margin-top: 5px;
    margin-left: 100px;
}
li{
    float:left;
    list-style: none;
    padding: 15px;
    font-size: 18px;
}
nav{
    float:left;
    margin:auto;
    text-align: center;
    
    
}
a {
    text-decoration: none;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
  
}
li:hover a{
    color: black;
}
header{
    background-color:#0085c3;
    height: 70px;
    vertical-align: top;
    border: 0 none;
    font-size: 13px;
    line-height: 1.3em;
    
}

#divcontenedor{
    border: 1px solid black;
    width:auto;
    height: 350px;
    background: #b4bdd1;    
}


.divA{
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left:100px;
    text-align: justify;
}

#colorazul{
    color:black;
    font-size:17px ;
    text-align: center;

}
.justificado{
    text-align: justify;
}


